---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header';
import Footer from '../components/Footer';
import Tag from '../components/Tag';
import PostDates from '../components/PostDates';

export interface Props {
  content: {
    title: string;
    description: string;
    initialDraftAt?: string;
    publishedAt?: string;
    updatedAt?: string;
    heroImage?: string;
    tags?: string[];
    readingTime: {
      text: string;
    };
  };
}

const {
  content: {
    title,
    description,
    initialDraftAt,
    publishedAt,
    updatedAt,
    heroImage,
    tags,
    readingTime: { text: minutesRead },
  },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="dark:bg-slate-900">
    <Header />
    <main>
      <article>
        {
          heroImage && (
            <div
              class="w-full h-screen/2 bg-no-repeat bg-center bg-cover"
              style={{ backgroundImage: `url("${heroImage}")` }}
            />
          )
        }
        <div
          class="mt-12 prose prose-sm sm:prose-base md:prose-lg lg:prose-xl xl:prose-2xl dark:prose-invert prose-slate mx-auto p-4"
        >
          <h1>{title}</h1>
          <div class="flex flex-col space-y-4 text-sm sm:text-base md:text-md lg:text-lg">
            <div class="flex flex-row space-x-2">
              {
                tags?.map((tag) => (
                  <Tag key={tag} href={`/tags/${tag}`}>
                    {tag}
                  </Tag>
                ))
              }
            </div>
            <div class="flex flex-row space-x-4">
              <PostDates
                initialDraftAt={initialDraftAt}
                publishedAt={publishedAt}
                updatedAt={updatedAt}
              />
              <div>☕{minutesRead}</div>
            </div>
          </div>
          <div class="h-16"></div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
